* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header .header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #F5F5F5;
}
header .header-top h3 {
  color: grey;
}
header .header-top i {
  padding: 0 15px 0 40px;
  font-size: 25px;
}
header .header-top span {
  font-size: 25px;
  font-weight: 700;
}
header .header-top button {
  background-color: #EF6F31;
  padding: 8px 35px;
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  border: none;
}
header .header-down {
  width: 100%;
  height: 100px;
}
header .header-down .wrapper-80 {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
header .header-down .wrapper-80 .img-maxcoach img {
  width: 200px;
}
header .header-down .wrapper-80 .nav-bar ul {
  display: flex;
  list-style: none;
}
header .header-down .wrapper-80 .nav-bar ul li {
  font-size: 22px;
  padding-right: 40px;
}
header .header-down .wrapper-80 .nav-bar ul a {
  color: black;
  text-decoration: none;
}
header .header-down .wrapper-80 .nav-bar ul i {
  font-size: 12px;
  vertical-align: middle;
}
header .header-down .wrapper-80 .social i {
  padding-right: 25px;
  font-size: 22px;
  color: #797979;
}
header .header-down .wrapper-80 .social i:nth-child(4) {
  padding-right: 0px;
}

.martin {
  position: relative;
  width: 100%;
  height: 810px;
  background-color: #FBF9F6;
}
.martin #img-halfdrop {
  width: 880px;
}
.martin #img-painting {
  position: absolute;
  width: 320px;
  height: 415px;
  left: 293px;
  top: 106px;
}
.martin #img-moredots {
  position: absolute;
  width: 320px;
  height: 450px;
  left: 15px;
  top: 138px;
}
.martin #img-monkey {
  position: absolute;
  left: 111px;
  bottom: 60px;
}
.martin #img-man {
  position: absolute;
  left: 477px;
  bottom: 47px;
}
.martin #img-drop {
  position: absolute;
  width: 760px;
  height: 760px;
  right: 106px;
}
.martin #img-leaf {
  position: absolute;
  width: 165px;
  right: 103px;
  top: 103px;
}
.martin #img-paint {
  position: absolute;
  width: 340px;
  right: 72px;
  bottom: 0px;
}
.martin #img-dots {
  position: absolute;
  right: 311px;
  bottom: 31px;
  width: 215px;
}
.martin #img-martin {
  position: absolute;
  right: 208px;
  bottom: 50px;
}
