* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header .header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: #F5F5F5;
}
header .header-top h3 {
  color: grey;
}
header .header-top i {
  padding: 0 15px 0 40px;
  font-size: 25px;
}
header .header-top span {
  font-size: 25px;
  font-weight: 700;
}
header .header-top button {
  background-color: #EF6F31;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 8px 35px;
  margin-left: 50px;
  font-size: 18px;
}
header .header-down {
  width: 100%;
  height: 100px;
}
header .header-down .wrapper-80 {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
header .header-down .wrapper-80 .img-maxcoach img {
  width: 200px;
}
header .header-down .wrapper-80 .nav-bar ul {
  display: flex;
  list-style: none;
}
header .header-down .wrapper-80 .nav-bar ul li {
  font-size: 22px;
  padding-right: 40px;
}
header .header-down .wrapper-80 .nav-bar ul a {
  color: black;
  text-decoration: none;
}
header .header-down .wrapper-80 .nav-bar ul i {
  font-size: 12px;
  vertical-align: middle;
}
header .header-down .wrapper-80 .social i {
  padding-right: 25px;
  font-size: 22px;
  color: #797979;
}
header .header-down .wrapper-80 .social i:nth-child(4) {
  padding-right: 0px;
}

.matin {
  position: relative;
  width: 100%;
  height: 810px;
  background-color: #FBF9F6;
}
.matin #img-halfdrop {
  width: 945px;
}
.matin #img-blue-shape {
  position: absolute;
  left: -65px;
  width: 512px;
  top: 230px;
}
.matin #img-painting {
  position: absolute;
  width: 320px;
  height: 415px;
  left: 293px;
  top: 106px;
}
.matin #img-moredots {
  position: absolute;
  width: 320px;
  height: 450px;
  left: 15px;
  top: 138px;
}
.matin #img-monkey {
  position: absolute;
  left: 111px;
  bottom: 85px;
}
.matin #img-man {
  position: absolute;
  left: 477px;
  bottom: 47px;
}
.matin #img-drop {
  position: absolute;
  width: 760px;
  height: 760px;
  right: 106px;
}
.matin #img-leaf {
  position: absolute;
  width: 165px;
  right: 103px;
  top: 103px;
}
.matin #img-paint {
  position: absolute;
  width: 340px;
  right: 72px;
  bottom: 0px;
}
.matin #img-dots {
  position: absolute;
  right: 311px;
  bottom: 31px;
  width: 215px;
}
.matin #img-yellow-shape {
  position: absolute;
  right: 386px;
  bottom: 83px;
}
.matin #img-martin {
  position: absolute;
  right: 208px;
  bottom: 50px;
}
.matin .description {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  width: 32%;
  text-align: center;
}
.matin .description h3 {
  font-family: "Hachi Maru Pop";
  font-size: 40px;
  color: #6AC5F1;
}
.matin .description button {
  background-color: #EF6F31;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 20px 35px;
  font-size: 18px;
}

.artist-coaching {
  position: relative;
  width: 100%;
  height: 760px;
}
.artist-coaching .artist-coaching-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 53px;
  width: 31%;
  text-align: center;
}
.artist-coaching .artist-coaching-text h3 {
  font-family: "Hachi Maru Pop";
  font-size: 40px;
  color: #6AC5F1;
}
.artist-coaching .artist-coaching-text span {
  font-weight: 700;
  font-size: 38px;
}
.artist-coaching .online-coures {
  position: absolute;
  top: 39%;
  left: 18%;
  width: 16%;
  font-size: 20px;
}
.artist-coaching .online-coures img {
  width: 145px;
}
.artist-coaching .online-coures p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.artist-coaching .online-coures span {
  color: #696969;
}
.artist-coaching .one-to-one {
  position: absolute;
  top: 49%;
  left: 37%;
  width: 16%;
  font-size: 20px;
}
.artist-coaching .one-to-one img {
  width: 145px;
}
.artist-coaching .one-to-one p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.artist-coaching .one-to-one span {
  color: #696969;
}
.artist-coaching .anywhere {
  position: absolute;
  top: 35%;
  right: 29%;
  width: 16%;
  font-size: 20px;
}
.artist-coaching .anywhere img {
  width: 145px;
}
.artist-coaching .anywhere p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.artist-coaching .anywhere span {
  color: #696969;
}
.artist-coaching .on-time {
  position: absolute;
  top: 382px;
  right: 13%;
  width: 16%;
  font-size: 20px;
}
.artist-coaching .on-time img {
  width: 145px;
}
.artist-coaching .on-time p {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
}
.artist-coaching .on-time span {
  color: #696969;
}
.artist-coaching #rotate-drop {
  transform: rotate(-102deg);
  position: absolute;
  left: -170px;
  width: 683px;
  margin-top: 80px;
}
.artist-coaching #line {
  position: absolute;
  width: 100%;
  margin-top: 130px;
}
.artist-coaching #circle {
  position: absolute;
  right: 0px;
  width: 220px;
  bottom: 140px;
}

.martin-garrix {
  position: relative;
  width: 100%;
}
.martin-garrix #comma {
  position: absolute;
  left: 28%;
}
.martin-garrix .container {
  display: flex;
  width: 75%;
  height: 600px;
  margin: 0 auto;
}
.martin-garrix .panel-left {
  width: 38%;
  padding-top: 50px;
  text-align: center;
  font-size: 52px;
  padding-left: 93px;
}
.martin-garrix .panel-left h3 {
  font-family: "Hachi Maru Pop";
  font-size: 40px;
  color: #6AC5F1;
  padding-top: 50px;
}
.martin-garrix .panel-right {
  width: 62%;
  padding-top: 69px;
  text-align: inherit;
  font-size: 27px;
  padding-left: 153px;
  color: #696969;
}
.martin-garrix .panel-right p:nth-child(2) {
  margin-top: 30px;
}
.martin-garrix .panel-right button {
  background-color: #EF6F31;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 20px 35px;
  font-size: 18px;
  margin-top: 25px;
  background-color: rgba(239, 111, 49, 0.1);
  color: #EF7033;
}
