// matin
.matin {
  position: relative;
  width: 100%;
  height: 810px;
  background-color: #FBF9F6;
  #img-halfdrop {
    width: 945px;
  }
  #img-blue-shape {
    position: absolute;
    left: -65px;
    width: 512px;
    top: 230px;
  }
  #img-painting {
    position: absolute;
    width: 320px;
    height: 415px;
    left: 293px;
    top: 106px;
  }
  #img-moredots {
    position: absolute;
    width: 320px;
    height: 450px;
    left: 15px;
    top: 138px;
  }
  #img-monkey {
    position: absolute;
    left: 111px;
    bottom: 85px;
  }
  #img-man {
    position: absolute;
    left: 477px;
    bottom: 47px;
  }
  #img-drop {
    position: absolute;
    width: 760px;
    height: 760px;
    right: 106px;
  }
  #img-leaf {
    position: absolute;
    width: 165px;
    right: 103px;
    top: 103px;
  }
  #img-paint {
    position: absolute;
    width: 340px;
    right: 72px;
    bottom: 0px;
  }
  #img-dots {
    position: absolute;
    right: 311px;
    bottom: 31px;
    width: 215px;
  }
  #img-yellow-shape {
    position: absolute;
    right: 386px;
    bottom: 83px;
  }
  #img-martin {
    position: absolute;
    right: 208px;
    bottom: 50px;
  }
  .description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    width: 32%;
    text-align: center;
    h3 {
      @include h3-style;
    }
    button {
      @include btn;
      padding: 20px 35px;
      font-size: 18px;
    }
  }
}
// artist-coaching
.artist-coaching {
  position: relative;
  width: 100%;
  height: 760px;
  .artist-coaching-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    width: 31%;
    text-align: center;
    h3 {
      @include h3-style;
    }
    span {
      font-weight: 700;
      font-size: 38px;
    }
  }
  .online-coures {
    position: absolute;
    top: 39%;
    left: 18%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  .one-to-one {
    position: absolute;
    top: 49%;
    left: 37%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  .anywhere {
    position: absolute;
    top: 35%;
    right: 29%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  .on-time {
    position: absolute;
    top: 382px;
    right: 13%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  #rotate-drop {
    transform: rotate(-102deg);
    position: absolute;
    left: -170px;
    width: 683px;
    margin-top: 80px;
  }
  #line {
    position: absolute;
    width: 100%;
    margin-top: 130px;
  }
  #circle {
    position: absolute;
    right: 0px;
    width: 220px;
    bottom: 140px;
  }
}
// martin-garrix
.martin-garrix {
  position: relative;
  width: 100%;
  #comma {
    position: absolute;
    left: 28%;
  }
  .container {
    display: flex;
    width: 75%;
    height: 600px;
    margin: 0 auto;
  }
  .panel-left {
    width: 38%;
    padding-top: 50px;
    text-align: center;
    font-size: 52px;
    padding-left: 93px;
    h3 {
      @include h3-style;
      padding-top: 50px;
    }
  }
  .panel-right {
    width: 62%;
    padding-top: 69px;
    text-align: inherit;
    font-size: 27px;
    padding-left: 153px;
    color: $color-span;
    p:nth-child(2) {
      margin-top: 30px;
    }
    button {
      @include btn;
      padding: 20px 35px;
      font-size: 18px;
      margin-top: 25px;
      background-color: rgba(239, 111, 49, 0.1);
      color: #EF7033;
    }
  }
}
