// matin
.matin {
  position: relative;
  width: 100%;
  height: 810px;
  background-color: #FBF9F6;
  #img-halfdrop {
    width: 945px;
  }
  #img-blue-shape {
    position: absolute;
    left: -65px;
    width: 512px;
    top: 230px;
  }
  #img-painting {
    position: absolute;
    width: 320px;
    height: 415px;
    left: 293px;
    top: 106px;
  }
  #img-moredots {
    position: absolute;
    width: 320px;
    height: 450px;
    left: 15px;
    top: 138px;
  }
  #img-monkey {
    position: absolute;
    left: 111px;
    bottom: 85px;
  }
  #img-man {
    position: absolute;
    left: 477px;
    bottom: 47px;
  }
  #img-drop {
    position: absolute;
    width: 760px;
    height: 760px;
    right: 106px;
  }
  #img-leaf {
    position: absolute;
    width: 165px;
    right: 103px;
    top: 103px;
  }
  #img-paint {
    position: absolute;
    width: 340px;
    right: 72px;
    bottom: 0px;
  }
  #img-dots {
    position: absolute;
    right: 311px;
    bottom: 31px;
    width: 215px;
  }
  #img-yellow-shape {
    position: absolute;
    right: 386px;
    bottom: 83px;
  }
  #img-martin {
    position: absolute;
    right: 208px;
    bottom: 50px;
  }
  .description {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    width: 32%;
    text-align: center;
    h3 {
      @include h3-style;
    }
    button {
      @include btn;
      padding: 20px 35px;
      font-size: 18px;
    }
    button:hover {
      background-color: #6AC5F1;
    }
  }
}
// artist-coaching
.artist-coaching {
  position: relative;
  width: 100%;
  height: 760px;
  .artist-coaching-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 53px;
    width: 31%;
    text-align: center;
    h3 {
      @include h3-style;
    }
    span {
      font-weight: 700;
      font-size: 38px;
    }
  }
  .online-coures {
    position: absolute;
    top: 39%;
    left: 18%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  .one-to-one {
    position: absolute;
    top: 49%;
    left: 37%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  .anywhere {
    position: absolute;
    top: 35%;
    right: 29%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  .on-time {
    position: absolute;
    top: 382px;
    right: 13%;
    width: 16%;
    font-size: 20px;
    img {
      width: 145px;
    }
    p {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    span {
      color: $color-span;
    }
  }
  #rotate-drop {
    transform: rotate(-102deg);
    position: absolute;
    left: -170px;
    width: 683px;
    margin-top: 80px;
  }
  #line {
    position: absolute;
    width: 100%;
    margin-top: 130px;
  }
  #circle {
    position: absolute;
    right: 0px;
    width: 220px;
    bottom: 140px;
  }
}
// martin-garrix
.martin-garrix {
  position: relative;
  width: 100%;
  #comma {
    position: absolute;
    left: 28%;
  }
  .container {
    display: flex;
    width: 75%;
    height: 600px;
    margin: 0 auto;
  }
  .panel-left {
    width: 38%;
    padding-top: 50px;
    text-align: center;
    font-size: 52px;
    padding-left: 93px;
    h3 {
      @include h3-style;
      padding-top: 50px;
    }
  }
  .panel-right {
    width: 62%;
    padding-top: 69px;
    text-align: inherit;
    font-size: 27px;
    padding-left: 153px;
    color: $color-span;
    p:nth-child(2) {
      margin-top: 30px;
    }
    button {
      @include btn;
      padding: 20px 35px;
      font-size: 18px;
      margin-top: 25px;
      background-color: rgba(239, 111, 49, 0.1);
      color: #EF7033;
    }
    button:hover {
      background-color: $color-arrow;
      color: $color-white;
    }
  }
}
// murales
.murales {
  position: relative;
  height: 650px;
  #blue-sh {
    position: absolute;
    width: 275px;
    margin-left: 15%;
  }
  #dot-green {
    position: absolute;
    width: 225px;
    left: 22%;
    margin-top: 1%;
  }
  #dot-blue {
    position: absolute;
    width: 225px;
    right: 17%;
    bottom: 0%;
  }
  #murales-man {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
// testimonials
.testimonials {
  height: 720px;
  margin-top: 100px;
  text-align: center;
  background-color: #FAF8F6;
  h3  {
    @include h3-style;
  }
  p {
    font-size: 50px;
    font-weight: 700;
  }
  img {
    border-radius: 50%;
    width: 18%;
    margin-top: 40px;
  }
  .cards {
    display: flex;
    margin-top: 50px;
    text-align: initial;
    h4 {
      padding-top: $padding-card;
      font-size: 23px;
    }
    p {
      @include p-card-style;
      color: $color-span;
      line-height: 30px;
    }
    .card-florence, .card-mina , .card-madley{
      width: $width-card;
      margin-left: $width-25;
      padding: 0 38px;
      background-color: white;
      height: 400px;
    }
    .card-florence , .card-madley {
      opacity: 0.5;
    }
    .avatar {
      display: flex;
      .description-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;
        h4 {
          font-size: 20px;
        }
        span {
          padding-top: 20px;
          font-size: 18px;
          color: $color-span;
        }
      }
    }
  }
  .dot-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    i {
      padding-right: 20px;
      color: lightgray;
      font-size: 10px;
    }
    i:nth-child(1) {
      color: black;
      font-size: 15px;
    }
  }
}
// courses
.courses {
  margin: 100px 0;
  text-align: center;

  h3  {
    @include h3-style;
  }
  p {
    font-size: 50px;
    font-weight: 700;
  }
  .course-80 {
    width: $width-80;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    .select-course {
      display: flex;
      flex-direction: column;
      flex-basis: 200px;
      margin: 20px;
      text-align: initial;
      img {
        width: 344px;
      }
      span {
        padding-top: 30px;
        color: #EF7033;
        font-size: 24px;
        font-weight: 700;
        padding-left: 25px;
      }
      .name-course {
        padding-top: 20px;
        color: black;
        font-size: 27px;
        font-weight: 600;
        padding-left: 25px;
      }
      .lessons {
        padding-top: 20px;
        color: #A0A0A0;
        i {
          padding-left: 25px;
        }
        span {
          padding-left: 5px;
          font-size: 18px;
          color: #696969;
          font-weight: normal;
        }
      }
    }
  }
  button {
    @include btn;
    padding: 20px 35px;
    font-size: 18px;
    margin-top: 15px;
    background-color: rgba(239, 111, 49, 0.1);
    color: #EF7033;
  }
  button:hover {
    background-color: $color-arrow;
    color: $color-white;
  }
}
// blog
.blog {
  height: 1260px;
  margin: 100px 0;
  text-align: center;
  background-color: #F5F7FA;
  h3  {
    @include h3-style;
    padding-top: 100px;
  }
  p {
    font-size: 50px;
    font-weight: 700;
  }
  .back-img {
    position: relative;
    margin-top: 80px;
    #line-e {
      position: absolute;
      width: 100%;
      left: 0%;
    }
    #person-artist {
      position: absolute;
      transform: translate(-50%, -11%);
    }
    #dot-artist {
      position: absolute;
      top: 85px;
      left: 40%;
      transform: translate(-50%, -50%);
      width: 10%;
    }
  }
  .container-artist {
    display: flex;
    .picture-artist {
      width: 500px;
      height: 680px;
      background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3) ), url('../img/artist-blog-02-500x680.jpg');
      margin: auto;
      z-index: 1;
      text-align: initial;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: white;
      margin-bottom: 120px;
      h4 {
        padding-left: 40px;
      }
      p {
          padding-left: 40px;
          font-size: 34px;
          line-height: 1.42;
      }
      .calender {
        padding: 15px 0 60px 40px;
        i {
          margin-right: 5px;
        }
        span {
          margin-right: 19px;
        }
      }
    }
    .right {
      margin-top: 150px;
      margin-left: 17%;
      z-index: 1;
    }
    .left {
      margin-top: 50px;
      margin-right: 17%;
      z-index: 1;
    }
    .sub-container {
      width: 15%;
      height: 100%;
      box-shadow: 0 14px 59px rgba(0, 0, 0, 0.15);
      .man-artist {
        @include min-picture;
        background-image: url('../img/man2.jpg');
      }
      .women-artist {
        @include min-picture;
        background-image: url('../img/artist-blog-01-480x356.jpg');
      }
      .sub-info {
        display: flex;
        flex-direction: column;
        text-align: initial;
        background-color: white;
        height: 180px;
        padding: 26px 20px 35px;
        line-height: 1.5;
        .post-image {
          font-size: 15px;
          color: #8c89a2;
        }
        .post-title {
          font-size: 20px;
        }
        .calender {
          padding-top: 15px;
          color: #7E7E7E;
          i {
            margin-right: 5px;
          }
          span {
            margin-right: 19px;
          }
        }
      }
    }
  }
  #info-arrow {
    font-size: 22px;
    font-weight: 600;
    a {
      color: $color-grey;
      text-decoration: none;
    }
    i {
      color: $color-arrow;
      font-size: 16px;
    }
    #color-view {
      color: $color-arrow;
    }
  }
}
// work-together
.work-together {
  text-align: center;
  margin-bottom: 100px;
  .circle-right {
    position: relative;
    #circle {
      position: absolute;
      right: 0%;
      top: 45px;
      width: 220px;
    }
  }
  h3 {
    @include h3-style;
  }
  p {
    font-size: 50px;
    font-weight: 700;
  }
  .wrapper-66 {
    width: calc(100% - (2*17%));
    margin: auto;
    margin-top: 100px;
    span {
      color: $color-grey;
    }.shop {
      font-size: 21px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 15px;
      color: black;
    }
    .date {
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 0 0 6px;
    }
    i {
      margin-right: 5px;
    }
    #painting-picture {
      padding-left: 13%;
    }
    #painting-picture2 {
      padding-left: 50px;
    }
    .sub-top , .sub-down {
        display: flex;
      .women-coffe-info, .contest , .wall-paint, .funny-girl {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 50px;
        align-items: flex-start;
      }
    }
    .sub-down {
      margin-top: 80px;
      .wall-paint, .funny-girl {
        align-items: flex-end;
        padding-right: 50px;
        padding-left: 0px;
      }
      .wall-paint {
        padding-right: 0px;
        padding-left: 13%;
      }
      .shop {
        text-align: end;
      }
    }
  }
}
// Newsletter
.newsletter {
  width: 100%;
  height: 200px;
  background-color: #244186;
  .imgs-sides {
    position: relative;
    height: 100%;
    #left-side {
      position: absolute;
      height: 100%;
      width: 14%;
      left: 0%;
      bottom: 0%;
    }
    #right-side {
      position: absolute;
      height: 90%;
      width: 14%;
      right: 0%;
      bottom: 0%;
    }
    .email {
      display: flex;
      align-items: center;
      width: 66%;
      height: 100%;
      margin: auto;
      .touch {
        width: 21%;
        text-align: end;
        font-family: "Playfair Display", Sans-serif;
        font-size: 32px;
        font-weight: 400;
        color: $color-white;
      }
      .write-email {
        padding-left: 100px;
        color: $color-white;
        input {
          width: 210%;
          font-family: "Playfair Display", Sans-serif;
          font-size: 27px;
          font-weight: 400;
          border: none;
          border-bottom: 2px solid #5B71A4;
          padding: 5px 10px;
          background: transparent;
          color: $color-white;
        }
        ::placeholder {
          color: $color-white;
          opacity: 1;
        }
        textarea:focus, input:focus{
          outline: none;
        }
        .arrow-email {
          position: relative;
          button {
            position: absolute;
            border: none;
            border-bottom: 2px solid #5B71A4;
            background-color: transparent;
            left: 210%;
            bottom: 0px;
            font-size: 35px;
            color: $color-white;
          }
        }
      }
    }
  }
}
