@mixin btn {
  background-color: #EF6F31;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

@mixin h3-style {
  font-family: 'Hachi Maru Pop';
  font-size: 40px;
  color: #6AC5F1;
}

@mixin p-card-style {
  padding-top: 20px;
  font-size: 20px;
}

@mixin min-picture {
  width: 270px;
  height: 270px;
  background-size: cover;
  margin: auto;
  text-align: initial;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
