$color-span: #696969;
$width-card: 30%;
$width-25: 2.5%;
$padding-card: 40px;
$width-80: 80%;
$color-arrow: #EF6F31;
$color-grey: #8C89A2;
$color-text-side: #F5ECE4;
$color-white: #FFFFFF;
$color-footer: #696A6A;
$color-icon-footer:#B4B4B4;
$font-artist-span:18px;
