@import "partials/_variables";
@import "partials/_commons";
@import "partials/_mixins";
@import "partials/_header";
@import "partials/_main";


.newsletter {
  width: 100%;
  height: 200px;
  background-color: #244186;
  .imgs-sides {
    position: relative;
    height: 100%;
    #left-side {
      position: absolute;
      height: 100%;
      width: 14%;
      left: 0%;
      bottom: 0%;
    }
    #right-side {
      position: absolute;
      height: 90%;
      width: 14%;
      right: 0%;
      bottom: 0%;
    }
    .email {
      display: flex;
      align-items: center;
      width: 66%;
      height: 100%;
      margin: auto;
      .touch {
        width: 21%;
        text-align: end;
        font-family: "Playfair Display", Sans-serif;
        font-size: 32px;
        font-weight: 400;
        color: $color-white;
      }
      .write-email {
        padding-left: 100px;
        color: $color-white;
        input {
          width: 210%;
          font-family: "Playfair Display", Sans-serif;
          font-size: 27px;
          font-weight: 400;
          border: none;
          border-bottom: 2px solid #5B71A4;
          padding: 5px 10px;
          background: transparent;
          color: $color-white;
        }
        ::placeholder {
          color: $color-white;
          opacity: 1;
        }
        textarea:focus, input:focus{
          outline: none;
        }
        .arrow-email {
          position: relative;
          button {
            position: absolute;
            border: none;
            border-bottom: 2px solid #5B71A4;
            background-color: transparent;
            left: 210%;
            bottom: 0px;
            font-size: 35px;
            color: $color-white;
          }
        }
      }
    }
  }
}
